{% if ride_list %}
    <l>
        <h1>
            Open Rides Info: <br />
        </h1>
        {% for ride in ride_list %}
        <p>
            ride status: {{ ride.status }} <br />
            ride destination: {{ ride.dest_addr }} <br />
            ride owner name: {{ ride.owner.user_name }} <br />
            <p>
                ride sharer name:
                    {{ ride.get_sharer_names }}
            <p/>
            passenger number of each party: <br />
            {% for user_name, passenger_number in ride.number_in_party.items %}
                {{ user_name }} has {{passenger_number}} passengers in the party <br />
            {% endfor %}
            total passenger: {{ ride.get_total_passenger }}
        </p>
        <form action="{% url 'vber:mark_status_confirmed' ride.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="mark this ride to confirmed">
        </form>
        ----------------------------------------------------
        {% endfor %}
    </l>
{% else %}
    <p>No rides are available for you.</p>
{% endif %}