<h1>{{ user_name }}, you are requesting a ride</h1><br>

<form action = "{% url 'vber:request_ride_result' %}" method = "post">
    <label for = "user_name">user name:</label>
    <input id = "user_name" type = "text" name = "user_name" value = {{user_name}}><br>
    <label for = "can_share">can_share:</label>
    <input id = "can_share" type = "text" name = "can_share" value = {{can_share}}><br>
    <label for = "dest_addr">dest_addr:</label>
    <input id = "dest_addr" type = "text" name = "dest_addr" value = {{dest_addr}}><br>
    <label for = "required_time">required_time:</label>
    <input id = "required_time" type = "datetime-local" name = "required_time" value = {{required_time}}><br>
    <label for = "vehicle_type">vehicle_type:</label>
    <input id = "vehicle_type" type = "text" name = "vehicle_type" value = {{vehicle_type}}><br>
    <label for = "number">number of people:</label>
    <input id = "number" type = "text" name = "number" value = {{number}}><br>
    <label for = "spec_info">spec_info:</label>
    <input id = "spec_info" type = "text" name = "spec_info" value = {{spec_info}}><br>
    {% csrf_token %}
    <input type = "submit" value = "OK">
</form>
    <div class="d-grid gap-2">
      <a href="main_page" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">back to main page</a>
    </div>