{% if ride != null %}
    <l>
        <h1>
            you are currently checking the ride with ride id = {{ride.id}}!: <br />
        </h1>
        <p>
            ride owner name: {{ ride.owner.user_name }} <br />
            <p>
                ride sharer name:
                    {{ ride.get_sharer_names }}
            <p/>
            driver: {{ ride.vehicle.driver_name }} <br />
            passenger number of each party: <br />
            ride destination = {{ride.dest_addr}} <br />
            ride status: {{ ride.status }} <br />
            vehicle type:{{ride.vehicle_type}} <br />
            {% for user_name, passenger_number in ride.number_in_party.items %}
                {{ user_name }} has {{passenger_number}} passengers in the party <br />
            {% endfor %}
            total passenger: {{ ride.get_total_passenger }}
        </p>
        <form action = "{% url 'vber:main_page' %}" method = "post">
        {% csrf_token %}
        <input type="submit" value="return to main">
        </form>
    </l>
{% else %}
    <p>No rides are available for you.</p>
{% endif %}