<h1>{{ user_name }},please choose the ride  you want to edit:</h1><br>
<form action = "{% url 'vber:ride_request_editing_edit'%}" method = "post">
    <select name = 'ride_id'>
        {% for ride in ride_list %}
            <option value={{ride.id}}>id = {{ride.id}},owner = {{ride.owner.user_name}}, destination = {{ride.dest_addr}}, vehicle type ={{ride.vehicle_type}}</option> 
        {% endfor %}
    </select>
    {% csrf_token %}
    <input type = "submit" value = "OK">
</form>
    <div class="d-grid gap-2">
      <a href="main_page" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">back to main page</a>
    </div>